.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 1rem 2rem;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

.cabecalho .logo{
    font-size: 2.5rem;
    color: #fff;
}

.cabecalho .logo i{
    padding: 0 .5rem;
}

.cabecalho .navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cabecalho .navbar ul li{
    margin: 0 1.5rem;
}

.cabecalho .navbar ul li a{
    font-size: 2rem;
    color: #fff;
}

.cabecalho .navbar ul li a:hover{
    color: #ccc;
}

.cabecalho .fa-bars{
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

.home{
    min-height: 100vh;
    width: 100vw;
    background: linear-gradient(purple,var(--color));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    padding: 0 1rem;
    position: relative;
    overflow: hidden !important;
}

.home .banner{
     color: #fff;
     font-size: 5rem;
     text-shadow:  0 .3rem .5rem rgba(0,0,0,.3);
}

.home .slogan{
    color: #eee;
    font-size: 2.5rem;
    font-weight: 400;
}

.home button{
    height: 4rem;
    width: 18rem;
    background: #fff;
    color: #444;
    cursor: pointer;
    outline: none;
    border: none;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 400;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
    border-radius: 2px;
}

.home button:hover{
    letter-spacing: 1px;
}

.home .wave{
    position: absolute;
    bottom: -.5rem;
    left: 0;
    height: 11rem;
    background-image: url(../imagens/wave.svg);
    background-size: 100rem 11rem;
    background-repeat: no-repeat;
    animation:waves 10s linear infinite;
}

.home .wave2{
    animation-direction: reverse;
    opacity: .2;
}

.home .wave3{
    animation-duration: 4s;
    opacity: .5;
}

@keyframes waver {
    0%{
        background-position-x: 0;
    }

    100%{
        background-position-x: 100rem;
    }
}

.home .fa-cog{
    position: absolute;
    font-size: 30rem;
    color: #fff;
    opacity: .15;
    animation: rotacao 10s linear infinite;
}

.home .nut1{
    top: 10%;
    left: -15rem;
    z-index: 1;
}

.home .nut2{
    bottom: 23%;
    right: -13rem;
    z-index: 1;
    animation-direction: reverse;
}

@keyframes rotacao {
    100%{
        transform: rotate(360deg);
    }
}

.about{
    min-height: 100vh;
    width: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.about .box-container{
   display: flex;
   align-items: center;
   justify-content: space-around;
   padding: 0 4rem;
}

.about .box-container .descricao{
    text-align: left;
    max-width: 49rem;
}

.about .box-container .descricao h3{
    font-size: 3rem;
    color: var(--color);
}

.about .box-container .descricao p{
    font-size: 1.5rem;
    color: #999;
    margin: 1.5rem 0;
}

.about .box-container .imagem img{
    width: 50vw;
}

.about::before,
.about::after{
    content: '';
    position: absolute;
    z-index: -1;
    opacity: .5;
    border-radius: 50%;
}

.about::before{
    height: 50rem;
    width: 50rem;
    background: #ccc;
    bottom: -10rem;
    left: -10rem;
}

.about::after{
    height: 60rem;
    width: 60rem;
    background: var(--color);
    top: -10rem;
    right: -10rem;
}

.services{
    text-align: center;
    width: 100vw;
}

.services .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    margin: 3rem 0;
}

.services .box-container .imagem img{
    width: 50vw;
    height: 55vh;
}

.services .box-container .descricao{
    text-align: left;
    padding: 0 3rem;
    max-width: 49rem;
}

.services .box-container .descricao h3{
    color: var(--color);
    font-size: 3rem;
}

.services .box-container .descricao p{
    padding: 1rem 0;
    color: #999;
    font-size: 1.5rem;
}

.team{
    min-height: 100vh;
    width: 100vw;
    text-align: center;
    background: #222;
}

.team .heading{
    color: #fff;
}

.team .heading::before,
.team .heading::after{
    border-color: #fff;
}

.team .container-team{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.team .container-team .card{
    width: 25rem;
    height: 35rem;
    background: #fff;
    text-align: center;
    margin:7rem 20px;
    position: relative;
    overflow: hidden;
    -webkit-box-reflect:below .2rem linear-gradient(transparent 70%, #0004);
}

.team .container-team .card .imagem{
    margin: 1rem 0;
    padding-top: 4rem;
}

.team .container-team .card .imagem img{
    border: .5rem solid #fff;
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    box-shadow:  0 0 .5rem rgba(0,0,0,.3);
    object-fit: cover;
}

.team .container-team .card .infor h3{
    font-size: 2rem;
    color: #333;
}

.team .container-team .card .infor span{
    color: var(--color);
    font-size: 1.8rem;
}

.team .container-team .card .infor .icons a i{
    margin-top: 4rem;
    padding: 0 1rem;
    font-size: 2rem;
    color: #333;
}

.team .container-team .card .infor .icons a i:hover{
    color: var(--color);
}

.team .container-team .card::before,
.team .container-team .card::after{
    content: "";
    width: 15rem;
    height: 15rem;
    position: absolute;
    border-radius: 50%;
    z-index: -1;
}

.team .container-team .card::before{
    background: var(--color);
    top: -3rem;
    right: -4rem;
    opacity: .9;
}

.team .container-team .card::after{
    background: #ccc;
    left: -4rem;
    bottom: -3rem;
}

.contact{
    text-align: center;
    width: 100vw;
    min-height: 100vh;
}

.contact .box-contact{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .box-contact .imagem img{
    height: 70vh;
    width: 50vw;
}

.contact .box-contact .form-container{
    width: 50%;
    text-align: left;
    padding: 0 3rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.4);
    border-radius: .5rem;
}

.contact .box-contact .form-container input,
.contact .box-contact .form-container textarea{
    outline: none;
    border: none;
    height: 4rem;
    background: none;
    border-radius: .5rem;
    box-shadow: .2rem .2rem .2rem rgba(0,0,0,.2);
    padding: 0 1rem;
    margin: 1rem 0;
    font-size: 1.6rem;
}

.contact .box-contact .form-container .inputBox{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contact .box-contact .form-container .inputBox input[type="text"]{
    width: 49%;
}

.contact .box-contact .form-container input[type="email"]{
    width: 100%;
}

.contact .box-contact .form-container textarea{
    width: 100%;
    height: 20rem;
    resize: none;
    padding: 1rem;
}

.contact .box-contact .form-container input[type="submit"]{
    background: var(--color);
    color: #fff;
    cursor: pointer;
    height: 4rem;
    width: 10rem;
}

.contact .box-contact .form-container input[type="submit"]:hover{
    transform: scale(1.05);
    opacity: .8;
}

.faQ{
    min-height: 100vh;
    width: 100vw;
    text-align: center;
    padding: 0 2rem;
}

.faQ .row{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.faQ .row .imagem img{
    height: 70vh;
    width: 50vw;
}

.faQ .row .acorderon-conatiner{
    width: 50%;
    text-align: left;
}

.faQ .row .acorderon-conatiner .accordion .accordion-header{
    background: var(--color);
    margin: 1rem 0;
    box-shadow: .1rem .1rem .3rem rgba(0,0,0,.3);
    cursor: pointer;
}

.faQ .row .acorderon-conatiner .accordion .accordion-header span{
    display: inline-block;
    font-size: 2rem;
    background: #fff;
    width: 5rem;
    height: 4rem;
    color: #333;
    text-align: center;
    line-height: 4rem;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%,75% 100%,0% 100%);
}

.faQ .row .acorderon-conatiner .accordion .accordion-header h3{
    display: inline;
    color: #fff;
    font-weight: 400;
    padding-left: .5rem;
    font-size: 2rem;
}

.faQ .row .acorderon-conatiner .accordion .accordion-body{
    padding: 1rem;
    color: #444;
    box-shadow: .1rem .1rem .3rem rgba(0,0,0,.3);
    font-size: 1.3rem;
    display: none;
}

.faQ .row .acorderon-conatiner .accordion:nth-child(1) .accordion-body{
    display: block;
}

.robape{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 2rem;
    margin-top: 1rem;
    background: var(--color);
}

.robape .creditos h3{
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
}

.robape .redes-sociais a{
    font-size: 2rem;
    color: #fff;
    margin: 0 .5rem;
    cursor: pointer;
}





